In [1]:
import pandas as pd
import domainAPIAccess as domain
import numpy as np
import json
import os
wd_path = r'C:\dev\data\daily_scrap'

In [2]:
df = domain.clean_data(wd_path)

print(df.info())

Expected str, instead got <class 'float'> - nan
       listingType            id  \
0             Sale  2.017213e+09
1             Sale  2.017515e+09
2             Sale  2.017515e+09
3             Sale  2.017515e+09
4             Sale  2.017515e+09
...            ...           ...
116648        Sale  2.014869e+09
116649    NewHomes  2.014851e+09
116650        Sale  2.013091e+09
116651    NewHomes  2.011843e+09
119432         NaN           NaN

                                                    media  \
0       [{'category': 'Image', 'url': 'https://bucket-...
1       [{'category': 'Image', 'url': 'https://bucket-...
2       [{'category': 'Image', 'url': 'https://bucket-...
3       [{'category': 'Image', 'url': 'https://bucket-...
4       [{'category': 'Image', 'url': 'https://bucket-...
...                                                   ...
116648  [{'category': 'Image', 'url': 'https://bucket-...
116649  [{'category': 'Image', 'url': 'https://bucket-...
116650  [{'category': 'Image', 'url': 'https://bucket-...
116651  [{'category': 'Image', 'url': 'https://bucket-...
119432                                                NaN

                                                 headline  \
0        Ideal easycare living in a sought-after location
1       Indoor-outdoor apartment in boutique block, st...
2       Lighthouse Beach - Ripe With Potential & Possi...
3              Converted warehouse residence with parking
4              OCEANFRONT LIVING WITH SHOW-STOPPING VIEWS
...                                                   ...
116648  Totally free standing separate title on a 450m...
116649  ADAGIO - A new standard in contemporary living...
116650  Free standing 4 bedroom home with ensuite and ...
116651  Luxury 4 bedroom ensuite plus double garage Fr...
119432                                                NaN

                                       summaryDescription hasFloorplan  \
0       <b></b><br />Delivering a fantastic combinatio...         True
1       <b></b><br />This contemporary apartment in th...         True
2       <b></b><br />Set within a coastal lifestyle me...         True
3       <b></b><br />With oversized interiors and the ...         True
4       <b></b><br />Spectacularly positioned at the o...         True
...                                                   ...          ...
116648  <b></b><br />Here is your opportunity get into...        False
116649  <b></b><br />Adagio - Construction has started...        False
116650  <b></b><br />now under construction with the r...        False
116651  <b></b><br />Goldruby homes has 1 last opportu...        False
119432                                                NaN          NaN

       hasVideo                    labels           dateListed  \
0         False                     [New]  2022-01-10T17:44:48
1         False                     [New]  2022-01-10T17:42:33
2          True                     [New]  2022-01-10T17:36:54
3         False                     [New]  2022-01-10T17:36:51
4          True                     [New]  2022-01-10T17:36:49
...         ...                       ...                  ...
116648    False                        []  2019-01-08T17:26:30
116649    False               [New homes]  2018-12-21T14:56:19
116650    False             [Under offer]  2018-09-20T13:22:10
116651    False  [Under offer, New homes]  2015-03-16T13:18:53
119432      NaN                       NaN                  NaN

                                              listingSlug  ... cars  \
0       706-11-chandos-street-st-leonards-nsw-2065-201...  ...  NaN
1       3-199-bourke-street-darlinghurst-nsw-2010-2017...  ...  NaN
2       39-hart-street-port-macquarie-nsw-2444-2017514847  ...  NaN
3       59-15-19-boundary-street-darlinghurst-nsw-2010...  ...  NaN
4       12-tweed-coast-road-hastings-point-nsw-2489-20...  ...  NaN
...                                                   ...  ...  ...
116648                        throsby-act-2914-2014869479  ...  NaN
116649                        throsby-act-2914-2014851373  ...  NaN
116650                       harrison-act-2914-2013091267  ...  NaN
116651                       harrison-act-2914-2011843398  ...  NaN
119432                                                NaN  ...    âˆ’

                          street  suburb state post_code listing_agent  \
0                            NaN     NaN   NaN       NaN           NaN
1                            NaN     NaN   NaN       NaN           NaN
2                            NaN     NaN   NaN       NaN           NaN
3                            NaN     NaN   NaN       NaN           NaN
4                            NaN     NaN   NaN       NaN           NaN
...                          ...     ...   ...       ...           ...
116648                       NaN     NaN   NaN       NaN           NaN
116649                       NaN     NaN   NaN       NaN           NaN
116650                       NaN     NaN   NaN       NaN           NaN
116651                       NaN     NaN   NaN       NaN           NaN
119432  3114/91 Liverpool Street  SYDNEY   NSW      2000            NA

       listing_agency              date_scrapped converted_price      price
0                 NaN                        NaT             NaN        NaN
1                 NaN                        NaT       1250000.0  1250000.0
2                 NaN                        NaT             NaN        NaN
3                 NaN                        NaT        875000.0   875000.0
4                 NaN                        NaT             NaN        NaN
...               ...                        ...             ...        ...
116648            NaN                        NaT       1250000.0  1250000.0
116649            NaN                        NaT        599900.0   599900.0
116650            NaN                        NaT        850000.0   850000.0
116651            NaN                        NaT        880000.0   880000.0
119432             NA 2022-01-05 13:53:40.967287             NaN        NaN

[61594 rows x 60 columns]

In [ ]:
df = domain.concat_raw_data(r'C:\dev\data\NSW_first_scrap')

In [ ]:
print(f'Total rows: {len(df)}')
print(f'Number of duplicates: {np.sum(df.duplicated("id"))}')

df.drop_duplicates('id', inplace=True)

print(f'Number of unique rows: {len(df)}')

display(df.columns)
display(df.head(5))

In [ ]:
df['converted_price'] = df['priceDetails.displayPrice'].apply(domain.convert_price_to_dollars)

df['price'] = df['priceDetails.price'].fillna(df['converted_price'])

fillnavalues = {
    'propertyDetails.bathrooms': 0,
    'propertyDetails.bedrooms': 0,
    'propertyDetails.carspaces': 0
}

df.fillna(fillnavalues, inplace=True)

df.loc[(df['price'] < 25000) | (df['price'] > 10000000), 'price'] = np.nan

display(df.describe())

display(df[['listingSlug', 'priceDetails.displayPrice', 'price']].sort_values('price').head(20))

In [ ]:
df['hasPrice'] = df['price'].notna()

print(f"{df['hasPrice'].sum()} out of {len(df)} ({df['hasPrice'].sum()/len(df)*100:.2f} per cent) properties have a advertised price.")

df.reset_index(drop=True).to_feather(r'C:\dev\data\NSW_advertised_scrapped_7_January.feather')